body {
    margin: auto;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #969696;
    max-width: 50vw;
    display: grid; 
    justify-content: center; 
    align-items: center; 
}

.blog {
    width: 50vw;
    overflow-wrap: break-word;
    background-color: rgb(46, 157, 255);
    padding: .3em;
    margin-bottom: .5em;
    border: solid;
    border-radius: .5em;
}

.bloglist {
    overflow-y: auto;
    max-height: 40vh;
    width: 55vw;
}