<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Blog app</title>
        <link rel="stylesheet" href="static/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
 
    <body>
        <h1>Blog application</h1>

        <div class="bloglist">
            {% if blogs|length == 0 %}
                <p class="blog">You don't have any blogs</p>
            {% endif %}

            {% for blog in blogs %}
                <div class="blog">
                    <p style="margin-top:0; margin-bottom:.3em"><b>{{ blog.title }}</b></p>
                    <p style="margin:0">{{ blog.content }}</p>
                </div>
            {% endfor %}
        </div>
        <br>
        <form method="post" action="flushblogs">
            {% csrf_token %}
            <input type="submit" value="Clear"/>
        </form>
 
        <h3 style="margin: 1em 0 .5em 0">Create a new blog</h3>
 
        <form method="post" action="createblog">
			{% csrf_token %}
            <input type="text" name="title" placeholder="Title">
            <br>
            <textarea name="content" rows="3" cols="40" placeholder="What's on your mind?"></textarea>
            <br>
            <input type="submit" value="submit"/>
        </form>
 
    </body>
</html>