<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Blog app</title>
        <link rel="stylesheet" href="../static/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="header">
            <h2>Your profile</h2>

            <form method="post" action="/" style="margin-left:auto;">
                {% csrf_token %}
                <input type="submit" value="Return"/>
            </form>
        </div>

        <ul style="max-width: 55vw">
            <li><b>Username:</b> {{ user.username }}</li>
            <li style="overflow-wrap: break-word;"><b>Password:</b> {{ user.password }}</li>
            <li><b>My biggest secret:</b> {{ user.secret }}</li>
        </ul>
    </body>

</html>