<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Blog app</title>
        <link rel="stylesheet" href="../static/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="header">
            <h2>Your profile</h2>

            <form method="post" action="/" style="margin-left:auto;">
                {% csrf_token %}
                <input type="submit" value="Return"/>
            </form>
        </div>

        <ul style="max-width: 55vw">
            <li><b>Username:</b> {{ user.username }}</li>
            <!--
            Passwords are visible for users (FLAW 2):
            Fix (4/4): Hide the passwords. Comment out the next line of code
            -->
            <li style="overflow-wrap: break-word;"><b>Password:</b> {{ user.password }}</li>
            <li><b>Email:</b> {{ user.email }}</li>
            <li><b>My biggest secret:</b> {{ user.secret }}</li>
        </ul>
        
        <!--Admins can observe security log entries here-->
        {% if user.is_superuser == True %}
            <h3 style="margin-bottom:auto;">Log entries</h3>
            <ul>
                {% for entry in log_entries %}
                    <li class="log_entry">
                        <p>Name: {{ entry.name }}</p>
                        <p>Data: {{ entry.data }}</p>
                        <p>Time: {{ entry.time }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>

</html>